body, html{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    
}

#header {
    margin: 10px;
    width: 100%;
}

.navbar-logo {
    height: 60px;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px 0px;
    width: 100%;
    height: 500px;
}

.banner {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-height: 50px;
}

#container-logo {
    height: 400px;
    width: 400px;
}

.banner-logo {
    width: 400px;
}

#container-cobanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 200px;
    height: 100px;
    width: 100%;
}

#container-slider-descricao {
    margin: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#slider {
    margin:6px;
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descricao_slider {
    width: 50%;
}

.carousel-inner img {
    max-width:400px;
    margin: 20px;
}

.paperplane {
    height: 62px;
    margin-top: 10px;
}

.redes-sociais {
    display: flex;
    justify-content:center;
    margin-top: 10px;;
}
.icon-rodape {
    margin: 10px;
    height: 30px;
}





