h1 {
    font-family: 'Anton', sans-serif;;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

body {
    background-image:url("../Image/flat-mountains.svg");
    background-repeat: no-repeat;
    background-position:center bottom;
}
.banner {
    background-image:url("../Image/grid.png"), linear-gradient(to right, var(--secondary2), var(--secondary2));
}

.co_banner-subtitulo {
    color: var(--secondary);
}

